
<h3> Password Change Form</h3>
<br>
<%= form_with model: @user,url: update_password_path(@user), local:true do |f|%>
<% if @user.errors.any? %>
 <p>
    <%= @user.errors.full_messages.join(', ')%>
 </p> 
 <% end %>

<div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
</div>
<div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password %>
</div>
<div>
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation %>
</div>

<%= f.submit "Save"%>
<% end %>